parameters:
    level: max
    paths:
        - src
        - tests
    scanDirectories:
      - vendor/squizlabs/php_codesniffer/src

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
